        <div class="card-body">
          <div class="table-responsive">
            <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="basic-datatables_length">
                    <label style="width: 80%;">Показывать
                      <select (change)="filterSource($event)" name="basic-datatables_length"
                        aria-controls="basic-datatables" class="form-control form-control-sm">
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                      </select> записей</label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label style="width: 80%;"><strong>Город: </strong>
                      <select  [(ngModel)]="cityId" (ngModelChange)="getAll()"
                        name="basic-datatables_length" aria-controls="basic-datatables"
                        class="form-control form-control-sm">
                        <option *ngFor="let city of cities" [value]="city.id">{{city.name}}</option>
                      </select></label> 
                    </div>
                <div class="col-sm-12 col-md-6">
                    <label style="width: 80%;"><strong>Тип санатория: </strong>
                      <select [(ngModel)]="sanTypeCode" (ngModelChange)="getAll()"
                        name="basic-datatables_length" aria-controls="basic-datatables"
                        class="form-control form-control-sm">
                        <option *ngFor="let sanType of sanTypes" [value]="sanType.code">{{sanType.name}}</option>
                      </select>
                    </label>
                </div>
                <div class="col-sm-12 col-md-6">
                    <label style="width: 80%;"><strong>Название: </strong>
                      <input [(ngModel)]="searchValue" (ngModelChange)="onSearch()" type="search" class="form-control form-control-sm" placeholder=""
                        aria-controls="add-row">
                    </label>
                </div>
                <div class="col-sm-12 col-md-6">
                </div>
                <div class="col-sm-12 col-md-1" style="margin-top: 10px;">
                  <button class="btn btn-default btn-round" style="padding: 5px 10px;" (click)="clear()">Очистить</button>
                </div>
                <table mat-table [dataSource]="dataSource" matSort
                  class="full-width-table display table table-striped table-hover dataTable" matSort
                  aria-label="Elements">
                  
                  <ng-container matColumnDef="id">
                    <th class="sorting_asc" mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                    <td mat-cell *matCellDef="let row">{{row.id}}</td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th class="sorting_asc" mat-header-cell *matHeaderCellDef mat-sort-header>Название</th>
                    <td mat-cell *matCellDef="let row">{{row.name}}</td>
                  </ng-container>

                  <ng-container matColumnDef="sanType">
                    <th class="sorting_asc" mat-header-cell *matHeaderCellDef mat-sort-header>Тип</th>
                    <td mat-cell *matCellDef="let row">{{row.sanType?row.sanType.name:""}}</td>
                  </ng-container>

                  <ng-container matColumnDef="city">
                    <th class="sorting_asc" mat-header-cell *matHeaderCellDef mat-sort-header>Город</th>
                    <td mat-cell *matCellDef="let row">{{row.city?row.city.name:""}}</td>
                  </ng-container>

                  <ng-container matColumnDef="address">
                    <th class="sorting_asc" class="sorting_asc" mat-header-cell *matHeaderCellDef mat-sort-header>Адрес
                    </th>
                    <td mat-cell *matCellDef="let row">{{row.address}}</td>
                  </ng-container>
                  <tr role="row" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr  mat-row
                    (click)="rowClick(row)"
                    [class.demo-row-is-clicked]="clickedRow === row.id"
                    *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="row">
                  <div class="col-sm-12 col-md-5">
                    <div class="dataTables_info" id="basic-datatables_info" role="status" aria-live="polite">Показаны с 1 по {{size}} из {{total}}
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-7">
                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                     <ul class="pagination">
                        <li class="paginate_button page-item previous" id="basic-datatables_previous">
                          <a (click)="decrementPage()"
                          class="page-link">Пред.</a>                                                                                    
                        </li>
                        <li *ngFor="let page of pages" class="paginate_button page-item active">
                          <a aria-controls="basic-datatables"
                          (click)="changeCurrentPage(page)" class="page-link">{{page}}
                        </a>
                      </li>
                        <li class="paginate_button page-item next" id="basic-datatables_next">
                          <a (click)="incrementPage()"  
                          class="page-link">След.</a>                                                   
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row-ok">
                <button data-dismiss="modal" type="button" class="btn btn-primary" (click)="onOk()">ОК</button>
              </div>
            </div>
          </div>
        </div>