.demo-table {
  width: 100%;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.demo-row-is-clicked {
  font-weight: bold;
}

.row-ok{
  width: 100%;
  text-align: right;
}