<div class="page-inner">
  <h4 class="page-title">{{title}}</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-profile card-secondary">
        <div class="card-header" style="background-image: url('../assets/img/blogpost.jpg')">
          <div class="profile-picture">
            <div class="avatar avatar-xl rounded-circle ava-back">
              <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
          </div>
        </div>
        <form [formGroup]="form" (submit)="saveForm()">
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Логин</label>
                <input formControlName="username" type="text" class="form-control" name="login" placeholder="Логин" value="Hizrian">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Email</label>
                <input formControlName="email" type="email" class="form-control" name="email" placeholder="Email" value="hello@example.com">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Имя</label>
                <input formControlName="firstName" type="text" class="form-control" name="firstName" placeholder="Имя" value="Hizrian">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Фамилия</label>
                <input formControlName="lastName" type="text" class="form-control" name="lastName" placeholder="Фамилия" value="Hizrian">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Статус подтвеждения</label>
                <mat-form-field style="width: 100%;">
                  <mat-select formControlName="confirmationStatus">
                    <mat-option *ngFor="let status of statuses" [value]="status.id">
                      {{status.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Пол</label>
                <mat-form-field style="width: 100%;">
                  <mat-select formControlName="genderId">
                    <mat-option *ngFor="let gender of genders" [value]="gender.id">
                      {{gender.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Тел. номер</label>
                <mat-form-field  style="width: 100%;" class="example-full-width">
                  <input matInput formControlName="telNumber">
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Тип</label>
                <mat-form-field style="width: 100%;">
                  <mat-select formControlName="userType">
                    <mat-option *ngFor="let userType of userTypes" [value]="userType.id">
                      {{userType.value}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Город</label>
                <mat-form-field style="width: 100%;">
                  <mat-select formControlName="cityId">
                    <mat-option *ngFor="let city of cities" [value]="city.id">
                      {{city.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
          <!-- <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Пароль</label>
                <input type="password" class="form-control" name="password" placeholder="Пароль" value="Hizrian">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Повторить пароль</label>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Повторить пароль" value="Hizrian">
              </div>
            </div>
          </div> -->

          <div class="text-right mt-3 mb-3">
            <button class="btn btn-success">Сохранить</button>
            <button (click)="cancel();$event.preventDefault()" class="btn btn-danger">Отменить</button>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </form>
      </div>
    </div>
  </div>
</div>
