<div class="page-inner">
  <h4 class="page-title">{{title}}</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-profile card-secondary">
        <div class="card-header" style="background-image: url('../assets/img/blogpost.jpg')">
          <div class="profile-picture">
            <div class="avatar avatar-xl rounded-circle ava-back">
              <img src="../assets/img/profile.jpg" alt="..." class="avatar-img rounded-circle">
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Логин</label>
                <input type="text" class="form-control" name="login" placeholder="Логин" value="Hizrian">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Email</label>
                <input type="email" class="form-control" name="email" placeholder="Email" value="hello@example.com">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Имя</label>
                <input type="text" class="form-control" name="firstName" placeholder="Имя" value="Hizrian">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Фамилия</label>
                <input type="text" class="form-control" name="lastName" placeholder="Фамилия" value="Hizrian">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Дата рождения</label>
                <input type="text" class="form-control" id="datepicker" name="datepicker" value="03/21/1998" placeholder="Дата рождения">
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Пол</label>
                <select class="form-control" id="gender">
                  <option>Мужчина</option>
                  <option>Женщина</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Тел. номер</label>
                <input type="text" class="form-control" value="+62008765678" name="phone" placeholder="Тел. номер">
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Тип</label>
                <select class="form-control" id="userType">
                  <option>Пользователь</option>
                  <option>Организация</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Статус</label>
                <select class="form-control" id="confStatus">
                  <option>Новый</option>
                  <option>На подтвеждении</option>
                  <option>Подтвежден</option>
                </select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group form-group-default">
                <label>Город</label>
                <select class="form-control" id="city">
                  <option>Сарайшық</option>
                  <option>Орда-Базар</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Пароль</label>
                <input type="password" class="form-control" name="password" placeholder="Пароль" value="Hizrian">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group form-group-default">
                <label>Повторить пароль</label>
                <input type="password" class="form-control" name="confirmPassword" placeholder="Повторить пароль" value="Hizrian">
              </div>
            </div>
          </div>

          <div class="text-right mt-3 mb-3">
            <button class="btn btn-success">Сохранить</button>
            <button class="btn btn-danger">Отменить</button>
          </div>
        </div>
        <div class="card-footer">
        </div>
      </div>
    </div>
  </div>
</div>
