<!--<body class="login">-->
  <div class="wrapper wrapper-login">
    <div class="container container-login animated fadeIn" style="display: block;">
      <h3 class="text-center">Войти</h3>
      <div class="login-form">
        <div class="form-group">
          <label for="username" class="placeholder"><b>Логин</b></label>
          <input id="username" name="username" type="text" class="form-control" required="">
        </div>
        <div class="form-group">
          <label for="password" class="placeholder"><b>Пароль</b></label>
          <a href="#" class="link float-right">Забыли пароль ?</a>
          <div class="position-relative">
            <input id="password" name="password" type="password" class="form-control" required="">
            <div class="show-password">
              <i class="flaticon-interface"></i>
            </div>
          </div>
        </div>
        <div class="form-group form-action-d-flex mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="rememberme">
            <label class="custom-control-label m-0" for="rememberme">Запомнить меня</label>
          </div>
          <a href="#" class="btn btn-primary col-md-5 float-right mt-3 mt-sm-0 fw-bold">Войти</a>
        </div>
      </div>
    </div>
  </div>
<!--</body>-->
